[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Conque-Shell.git"]
	path = bundle/Conque-Shell.git
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/vim-airline.git"]
	path = bundle/vim-airline.git
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-fugitive.git"]
	path = bundle/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/bufexplorer.git"]
	path = bundle/bufexplorer.git
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/cscope_maps.git"]
	path = bundle/cscope_maps.git
	url = https://github.com/chazy/cscope_maps.git
[submodule "bundle/taglist.vim.git"]
	path = bundle/taglist.vim.git
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/ack.vim.git"]
	path = bundle/ack.vim.git
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ctrlp.vim.git"]
	path = bundle/ctrlp.vim.git
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/Zenburn.git"]
	path = bundle/Zenburn.git
	url = https://github.com/jnurmine/Zenburn.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "bundle/vim-fireplace.git"]
	path = bundle/vim-fireplace.git
	url = https://github.com/tpope/vim-fireplace.git
[submodule "bundle/vim-colors-solarized.git"]
	path = bundle/vim-colors-solarized.git
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/rainbow_parentheses.vim.git"]
	path = bundle/rainbow_parentheses.vim.git
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/vim-gnugpg.git"]
	path = bundle/vim-gnugpg.git
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "bundle/vim-bufferlist"]
	path = bundle/vim-bufferlist
	url = https://github.com/roblillack/vim-bufferlist.git
[submodule "bundle/gruvbox.git"]
	path = bundle/gruvbox.git
	url = https://github.com/morhetz/gruvbox.git
